<div>
<form style="padding-left: 40px; width: 500px;" action="/management/createlocation" method="post">
  <div class="form-group row">
    <label for="inputName" class="col-2 col-form-label">Event Name</label>
	<div class="col-10" style="width: 200px;">
		<input type="text" class="form-control" id="inputName" name="locationname" placeholder="Location Name">
	</div>
  </div>
   <div class="form-group row">
	  <label for="address">Address</label>
	  <textarea class="form-control" rows="5" id="address" name="locationaddress"></textarea>
	</div>
	
	<button type="submit" class="btn btn-primary row">Create Location</button>
</form>
</div>