<div class="gameChangerFeed">
	<div style="display: inline-block;">
		<iframe src="//gc.com/team-59af86a7b6d8324161000001/scoreboard?g=5&p=554611f441fd310024289605" width="728" height="90" scrolling="no" frameborder="0"></iframe>
	</div>
	<div style="display: inline-block; vertical-align: top;">
		<link href="//d2qxbjtnvyv052.cloudfront.net/media/34e6b87901af8753663f848a489632ad/build/css/badge.css" rel="stylesheet" type="text/css" /><div id="gc_badge"><a href="http://www.gc.com?src=badge" title="gc.com" target="_gc"><div class="logo"></div></a><img src="//d2qxbjtnvyv052.cloudfront.net/media/44958470ac0d1bb0c54cf71a2803f877/images/icons/dumbo_108x108.png" /><div class="fan_of">Become a fan of</div><div class="teamname"><a href="http://www.gc.com/t/summer-2018/chesapeake-angels-59af86a7b6d8324161000001?src=badge&p=554611f441fd310024289605" title="Angels on GameChanger" target="_gc">Angels</a></div></div>
	</div>
</div>