<div style="padding-top: 10px; padding-left: 3px; height: 40px; top: 93px; width: 100%; position: absolute; border-radius: 10px; background-color: #D7D7D7;">
<div style="font-size: 17px;">
 <%= message %>
 </div>
</div>