<div class="newsFeed">
	<div class="newsTitle">
		Angels News
	</div>
	<% if(results) { %>
		<% for(var i=0; i<results.length; i++) { %>
			<div style="display: inline-block; margin-right: 20px; margin-bottom: 20px; width: 300px;">
				
				<div style="display: block;">
					<a href="/headline?id=<%= results[i].id %>">	
						<div style="display: block; margin-left: 5px;">
							<p style="font-size: 25px; color: #1F2233; font-weight: bold;">
								<%= results[i].title %>
							</p>
						</div>					
						<div style="display: block; width: 300px; height: 300px; border-style: solid; border-color: #333333;">
							<% if(results[i].thumbnailurl) { %>
							<img src=<%= results[i].thumbnailurl %> style="height: 100%; width: 100%;"> 
							<% } else { %>
							<img src="/images/ca_logo.png" style="height: 100%; width: 100%;"/>
							<% } %>													
						</div>
					</a>
				</div>					
				<div style="color: black; display: block; float: right;">
					<%= results[i].timestamp %>
				</div>
			</div>
		<% } %>
	<% } %>
</div>