<div>
<script type="text/javascript" src="/scripts/TableWizard.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/viewlist.css" />
<div class="listContainer">
</div>
<table class="table table-striped" id="sortableTable">
  <thead>
    <tr>
	  <th scope="col" style="cursor: pointer;" onclick="sortTableNumeric(0)">Number</th>
      <th scope="col" style="cursor: pointer;" onclick="sortTableAlpha(1)">First</th>
      <th scope="col" style="cursor: pointer;" onclick="sortTableAlpha(2)">Last</th>
      <th scope="col" style="cursor: pointer;" onclick="sortTablePosition(3)">Position</th>
    </tr>
  </thead>
  <tbody>
<% if(results){ %>
	<% for(var i=0; i<results.length; i++) { %>
		 <tr>
			<td><%= results[i].number %></td>
			<td><%= results[i].firstname %></td>
			<td><%= results[i].lastname %></td>
			<td><%= results[i].position %></td>	
		 </tr>
	<% } %>
<% } %>
	</tbody>
</table>

</div>