<link rel="stylesheet" type="text/css" href="/styles/seasonbanner.css" />
<div class="banner">
	<div class="bannerContainer">
		<div class="bannerSeason">
			<div class="bannerSeasonLabel">
				<p class="bannerSeasonLabelText">
					<%if(filler != null && filler.seasonbanner != null){ %>
						<%= filler.seasonbanner.seasonname %>
					<% } %>
				</p>
			</div>
			<div class="bannerStandings">
				<p class="bannerPlace">
					<%if(filler != null && filler.seasonbanner != null){ %>
						<%= filler.seasonbanner.seasonstanding %>
					<% } %>
				</p>
				<p class="bannerRecord">
					<%if(filler != null && filler.seasonbanner != null && filler.seasonbanner.seasonrecord != null){ %>
						<%= "Record: " + filler.seasonbanner.seasonrecord.wins + " - " + filler.seasonbanner.seasonrecord.losses %>
					<% } %>
				</p>
			</div>
			
		</div>
		<div class="bannerGame">
				<p class="bannerGameDisplay">
					<%if(filler != null && filler.seasonbanner != null && filler.seasonbanner.nextgamename != null){ %>
						<%= filler.seasonbanner.nextgamename %>
					<% } %>
				</p>
		</div>
	</div>
</div>