<div>
<form style="padding-left: 40px; width: 300px;" action="/changepassword" method="post">

  <div class="form-group row">
    <label for="inputPassword" class="col-2 col-form-label">Password</label>
	<div class="col-10">
		<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
	  </div>
	</div>
  <div class="form-group row">
    <label for="inputPasswordCheck" class="col-2 col-form-label">Password</label>
	<div class="col-10">
		<input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="Password Confirmation" oninput="check(this)">
		<script language='javascript' type='text/javascript'>
			function check(input) {
				if (input.value != document.getElementById('inputPassword').value) {
					input.setCustomValidity('Password Must be Matching.');
				} else {
					// input is valid -- reset the error message
					input.setCustomValidity('');
				}
			}
		</script>
	</div>
  </div>
   <button type="submit" class="btn btn-primary">Change Password</button>
</form>
</div>