<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<title>Chesapeake Angels</title>
</head>
<body style="background-color: #FF2222; border-color: #CC1111">
<div>
   <% if (message && message != "") { %>
     <% include ./partials/messageDisplay %>
	<% } %>
  </div>
  <div>
  <div>
<div>
				<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px; margin-bottom: 0!important;">
					  <% include ./partials/navigationBar %>
				</nav>
				<% include ./partials/seasonbanner %>
			</div>
</div>
  <br/>
  <div class="jumbotron">
    <% if (filler != null && filler.partials != null && filler.partials.mainform !=null) { %>
	<%- include(filler.partials.mainform) %>
  <% } %>
</div>
  </div>
</body>
</html>