<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/common.css" />
<title>Chesapeake Angels</title>
</head>
<body class="mainBackground">
<div>
   <% if (message && message != "") { %>
     <% include ./partials/messageDisplay %>
	<% } %>
  </div>
  <div>
  <div>
<div>
					  <% include ./partials/navigationBar %>
				
				<% include ./partials/seasonbanner %>
			</div>
</div>
  <br/>
  <div class="jumbotron jumbotrondetail">
    <% if (filler != null && filler.partials != null && filler.partials.mainform !=null) { %>
	<%- include(filler.partials.mainform) %>
  <% } %>
</div>
  </div>
</body>
</html>