<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/common.css" />
<link rel="icon" href="/images/favicon.bmp">
<title>Chesapeake Angels</title>
</head>
<body class="mainBackground">
<div>
  <% if (message && message != "") { %>
     <% include ./partials/messageDisplay %>
	<% } %>
  </div>
  <div>
  <div>
		<div>
					  <% include ./partials/navigationBar %>
				
				<% include ./partials/seasonbanner %>
		</div>
</div>
  <br/>
  <div class="jumbotron jumbotrondetail">
  <%  include ./partials/tableview %>
</div>
  </div>
</body>
</html>