<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<title>Chesapeake Angels</title>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <% include ./partials/navigationBar %>
</nav>
</div>
  <br/>
  </div>
  <div class="jumbotron"> <p>
  <% if (weather){ %>
			<%= weather %>
			<% } %>
			</p></div>
  <footer>
    <% include ./partials/footer %>
</footer>
</body>
</html>