<link rel="stylesheet" type="text/css" href="/styles/createform.css" />
<div>
<form class="creationForm" action="/management/createuser" method="post">
  <div class="form-group row">
    <label for="inputEmail" class="col-2 col-form-label">Email address</label>
	<div class="col-10 nameInput">
		<input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
	</div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-2 col-form-label">Password</label>
	<div class="col-10 nameInput">
		<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
	  </div>
	</div>
  <div class="form-group row">
    <label for="inputPasswordCheck" class="col-2 col-form-label">Password</label>
	<div class="col-10 nameInput">
		<input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="Password Confirmation" oninput="check(this)">
		<script language='javascript' type='text/javascript'>
			function check(input) {
				if (input.value != document.getElementById('inputPassword').value) {
					input.setCustomValidity('Password Must be Matching.');
				} else {
					// input is valid -- reset the error message
					input.setCustomValidity('');
				}
			}
		</script>
	</div>
  </div>
  <div class="form-group row">
    <label for="inputFirstName" class="col-2 col-form-label">First Name</label>
	<div class="col-10 nameInput">
		<input type="text" class="form-control" id="inputFirstName"  name="firstname" placeholder="First Name">
	</div>
  </div>
  <div class="form-group row">
    <label for="inputLastName" class="col-2 col-form-label">Last Name</label>
	<div class="col-10 nameInput">
		<input type="text" class="form-control" id="inputLastName"  name="lastname" placeholder="Last Name">
	</div>
  </div>
  <fieldset class="form-group row">
    <legend>Admin</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="admin" id="adminNo" value="false" checked>
        No
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="admin" id="adminYes" value="true">
        Yes
      </label>
    </div>
  </fieldset>
	
   <button type="submit" class="btn btn-primary">Create Account</button>
</form>
</div>