<div style="display: inline;">
<form style="padding-left: 40px; width: 300px; position: relative;" action="/management/editlocation" method="post">
	<input type="hidden" name="id" value="<%= results.id %>">
  
  <div class="form-group row">
    <label for="inputName" class="col-2 col-form-label">Location Name</label>
	<div class="col-10" style="width: 200px;">
		<input type="text" class="form-control" id="inputName" name="locationname" placeholder="Location Name" value="<%= results.name %>">
	</div>
  </div>
  
   <div class="form-group row">
	  <label for="address">Address</label>
	  <textarea class="form-control" rows="5" id="address" name="locationaddress"><%= results.address %></textarea>
	</div> 
	
   <button type="submit" class="btn btn-primary">Save</button>
</form>
<form style="float: right; position: relative; padding-right: 30px;" action="/management/deletelocation" method="post">
	<input type="hidden" name="id" value="<%= results.id %>">
	<button type="submit" class="btn btn-primary">Delete</button>
</form>
</div>